<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Node</title>
      <% include Partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1> <span class="fa fa-lock"> </span> Autentification </h1>
          <a href="/login" class="btn btn-ligth btn-lg">
            <span class="fa fa-user"> Login </span>
          </a>
          <a href="/singup" class="btn btn-ligth btn-lg">
            <span class="fa fa-user"> Sign up </span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
